.cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
}

.menu {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-left: 23px;
}

.pesquisa {
  display: flex;
  box-sizing: border-box;
  gap: 16px;
  padding: 15px 23px;
}

.links {
  display: flex;
  gap: 40px;
  margin-left: 40px;
}

.links li {
  display: flex;
  align-items: center;
}

.links li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.campoPesquisa {
  width: 170px;
  font-size: 15px;
  color: #212529;
  padding: 7px 0 7px 15px;
}

.formulario {
  display: flex;
}

.botaoPesquisa {
  background-color: var(--preto);
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  padding: 9px 12px;
}

.menuSanduiche {
  display: none;
}

@media (max-width: 768px) {
  /* .cabecalho {
    height: 58px;
  } */
  .logo {
    height: 24px;
  }

  .links {
    gap: 20px;
    margin-left: 20px;
  }

  .links li a {
    font-size: 13px;
  }

  .campoPesquisa {
    width: 145px;
    font-size: 13px;
  }

  .botaoPesquisa {
    font-size: 13px;
  }

  @media (max-width: 375px) {
    .cabecalho {
      flex-direction: column;
      align-items: flex-start;
      background-color: #fff;
    }

    .menu,
    .pesquisa {
      width: 100%;
    }

    .menu {
      padding: 20px;
      background-color: var(--preto);
    }
    .pesquisa {
      background-color: #fff;
      justify-content: center;
    }

    .links {
      display: none;
    }

    .logo {
      height: 18px;
    }

    .botaoPesquisa {
      background-color: #fff;
      color: var(--preto);
      border: 1px solid var(--preto);
    }

    .menuSanduiche {
      display: block;
      z-index: 100;
    }
  }
}
