.cabecalho {
  width: 100%;
  background-color: var(--preto);
  color: var(--cinza);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
  box-sizing: border-box;
}

.menu {
  display: flex;
}

.links {
  display: flex;
  gap: 40px;
  margin-left: 40px;
}

.links li {
  display: flex;
  align-items: center;
}

.links li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.pesquisa {
  display: flex;
  gap: 16px;
  margin: 15px 0;
}

.campoPesquisa {
  width: 170px;
  font-size: 15px;
  color: var(--cinza);
  padding: 7px 0 7px 15px;
}

.botaoPesquisa {
  background-color: var(--preto);
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  padding: 9px 12px;
}

.menuSanduiche {
  display: none;
}

@media (max-width: 768px) {
  .cabecalho {
    height: 58px;
  }
  .logo {
    height: 24px;
  }

  .links {
    gap: 20px;
    margin-left: 20px;
  }

  .links li a {
    font-size: 13px;
  }

  .campoPesquisa {
    width: 145px;
    font-size: 13px;
  }

  .botaoPesquisa {
    font-size: 13px;
  }

  @media (max-width: 375px) {
    .links {
      display: none;
    }

    .logo {
      height: 18px;
    }

    .pesquisa {
      display: none;
    }

    .menuSanduiche {
      display: block;
    }
  }
}
